@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
@mixin flexLayout($dir: column, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: $justify;
}
body {
  font-family: "Kumbh Sans", serif;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  @include flexLayout;
  margin-block-start: 3rem;
  width: 100%;
}
.profile {
  // position: relative;
  background-color: hsl(0, 0%, 100%);
  //   padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 4px 4px 7px 5px #0001;

  //   &__content {
  //     padding: 2rem;
  //   }
  &__owner-info,
  &__location,
  &__info {
    padding-inline: 2rem;
  }
  &__content {
    padding-block: 2rem;
  }
  &__img-container {
    position: relative;
    height: 9rem;
    width: 100%;
    background-image: url(./images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;
  }

  &__img {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid white;
  }
  &__owner-info {
    @include flexLayout(row);
  }
  &__owner {
    font-size: 2.2rem;
    color: hsl(229, 23%, 23%);
    margin-block: 1.1rem;
    margin-inline-end: 1.4rem;
  }
  &__age {
    color: hsl(0, 0%, 59%);
    font-size: 1.5rem;
  }
  &__location {
    text-align: center;
    font-style: initial;
    color: hsl(0, 0%, 59%);
    font-size: 1.3rem;
    margin-block-end: 0.9rem;
  }
  &__info {
    @include flexLayout(row, space-between);
  }
  &__engagements {
    @include flexLayout;
    gap: 3px;
    &--engagement {
      color: hsl(229, 23%, 23%);
      font-size: 1.5rem;
      font-weight: 600;
    }
    &--text {
      color: hsl(0, 0%, 59%);
      letter-spacing: 1.3px;
    }
  }
}
hr {
  display: block;
  border: none;
  height: 1px;
  margin-block: 2rem;
  background-color: hsl(0, 0%, 59%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
  a {
    color: hsl(228, 45%, 44%);
    &:hover {
      text-decoration: none;
    }
  }
}
